.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.bg-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  font-size: 34px;
  font-weight: bold;
  font-family: Lobster;
  color: #0f172a;
}

.language-items {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.render-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.repository-items {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.error-card {
  width: 100%;
}

.error-img {
  width: 100%;
}
